[project]
name = "dsa"
version = "0.1.0"
description = "Learn Data Structures and Algorithems"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "pytest>=9.0.2",
]
